<div class="container" ng-controller="AuthorController">
	<div class="page-header">
		<h2>Liste des Auteurs</h2>
	</div>
	<div class="alert alert-info" role="alert"
		ng-hide="authors && authors.length > 0">Il n'y a aucun Auteur pour le
		moment</div>
		
	<form class="form-horizontal" role="form" ng-submit="addAuthor(newAuthor)">
        <div class="form-group" ng-repeat="author in authors">
          <div class="checkbox col-xs-9">
            <label>
            	{{author.id}}
            </label>
            <label>
              {{author.email}}
            </label>
            <label>
              {{author.firstname}}
            </label>
             <label>
              {{author.lastname}}
            </label>
          </div>
          <div class="col-xs-3">
            <button class="pull-right btn btn-danger" type="button" title="Supprimer"
              ng-click="deleteAuthor(author)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
        <hr />
        <div class="input-group">
          <input type="text" class="form-control" ng-model="newAuthor.email" placeholder="email@domain.com..." />
          <input type="text" class="form-control" ng-model="newAuthor.firstname"  placeholder="Firstname..." />
          <input type="text" class="form-control" ng-model="newAuthor.lastname"  placeholder="Lastname..." />
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-disabled="!newAuthor.email" title="Ajouter">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
      </form>

</div>